* {
	margin: 0;
	padding: 0;
		font-family: "Roboto",sans-serif;

}

header {
	background: rgba(0,0,0,0.5);
	
}

.main{
	position: relative;
	float: right;
	list-style: none;
	margin-top: 30px;
	margin-left: 20px;

}
.main li{
	display: inline-block;
}
.main li a {
	text-decoration: none;
	padding: 5px 10px;
	font-family: "Roboto",sans-serif;
	color: black;

}
.active a {
	border-bottom:  2px solid black;
	opacity: .4;
}
.main li a:hover{
	cursor: pointer;
	font-size: 16px;
	border-bottom:  2px solid black;
	transition: all 0.2s ease-in;
	opacity: .4;
}

.search-box {
	position: absolute;
	float: right;
	margin-top: 50px;
	left: 20%;
	background: rgba(0,0,0,.6);
	transform: translate(-50%, -50%);
	
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}
.search-btn {
		color: #e84118;

	border-radius: 50%;
	float: right;
	width: 40px;
	height: 40px;

	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-txt{
	border:none;
	background:none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
}
.search-box:hover >.search-txt{
	width: 230px;
	padding: 0 6px;
}
.login img {
	margin-top: 10px;
	float: right;
	width: 50px;
	opacity: 0.7;
	margin-right: 10px;
	padding: 10px;

}
.logo img {
	margin-top: 10px;
	float: left;
	width: 100px;
	height: 70px;
	opacity: .9;
	padding: 5px;
}


@media (max-width: 768px)
{
	ul{
		width: 100%;
	}
	.main li {
		border:1px solid grey; 
		transition: 0.8s;
	
		display:block;

		padding: 5px;
	text-align: center;
	}
	.main li a {
	
		font-size: 13px;
letter-spacing: 5px;
	}

	 .main li:hover {
	 	background: rgba(0,0,0,0.5);
	 	color: #fff;
		border:none; 
	
	 }
	.main li a:hover {
	 	font-size: 15px;
	 

	 }
		.main-nav  { 
			top:  100%;
			margin-left: 16%; 
	}
		.search-box {

	left: 50%;
	}
	.top-button  {
		right:    1%;
	}
}
.box{
float:left;
	background:rgba(0,0,0,0.2);
	width: 350px;
	height: 270px;
	box-sizing:border-box;
	margin-left: 10px; 
	margin-right: 20px;
	margin-top: 20px;
	display: inline-block;
	box-shadow:10px 10px 20px rgba(0,0,0,.3);
	color: black;
	transition:  1s;
	
		

}
.box:hover {
border-radius: 0 0 25px 25px;
box-shadow:10px 15px 20px  rgba(0,0,0,.5);

	
}
.box img {
	width: 350px;
	height: 150px;
	}
	h2
	{
		color:blue;
		opacity: 0.8;
		text-align: center; 
	}
	h3 {
		margin-top: 10px;
	}

h3,p {
	margin-top: -10px;
	margin-bottom: -10px;
	padding: 10px;
	text-align: center;
	transition: .8s;
}
 .box  .button {
 		left: 15%;
		position: relative;
		margin:10px;
		padding: 10px 20px;
		background:grey;
		text-decoration: none;
		border-radius: 20px;
		display: inline-block;
		color: #2f2f2f;
		transition: 0.5s;
		transform: translateY(40px);
		opacity: .7;
		visibility: hidden;

	}
	.box:hover  .button  {
	transform: translateY(-50px);
		opacity: 1;
		visibility: visible;
		box-shadow:10px 10px 20px rgba(5,0,0,.3);
	}


.header1 {
	display: flex;
	width: 80%;
	justify-content: center;
	align-items: center;
	text-align: center;
margin-bottom:  10px;
	padding: 20px;
	position: relative;
	padding: 15px;
}
.header1:before,
.header1:after
 {
 	border-top: 2px solid;
 	content: "";
 	margin: 0 20px 0 0;
 	flex: 1 0 20px;
}
.header1:after {
	margin: 0 0 0 20px;
}



.main-nav {

	float: right;
}
	.main-nav a {
		border:1px solid black;
		text-decoration: none;
	}	
	.main-nav li {
		list-style: none;
	}
	.main-nav .b {
background: #fff;
	}
	.main-nav {
		position:absolute;
			margin-top:  5%;
			margin-left: -10px; 
			width: 170px;
		background:#5d5d;
	}
	.main-nav ul li a {
		font-size: 17px;
		color: black;
		border-bottom: 1px dotted grey;
		display: block;
		padding-left:  10px;
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.main-nav li ul li a {
		font-size: 15px;
	}
	.main-nav li a:hover {
		background: rgba(121,165,162,1.00);
		
		transition: all 0.5s ease-in;
	
	}
	.main-nav-ul ul a:before {
		content: '\203A';
		margin-right:  10px;
	}
	.main-nav .sub-arrow:after {
		float: right;
		content: '\203A';
		margin-right:  10px;
		transform: rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
		color: grey;
	}
	.main-nav li:hover .sub-arrow:after {
		content: '\2039';

	}
.top-button  {
	position: fixed;
	top: 90%;
	left:  95%;
}
.top-button img {
	box-shadow:0px 10px 20px rgba(0,0,0,2);
	border-radius: 50%;
	padding: 0;
	opacity: .6;
	width: 50px;
	height: 50px;
	float: right;
	margin-right:  10px;
}



	#content{
			display: grid;
			grid-template-areas: 
			"header header header header  header header "
			"nav nav nav nav nav nav  "
			"section section section section section aside "
			"footer footer footer footer footer footer"


		}
		#content>*{
				margin: 0px;
		
		}
		header {
			grid-area: header;
		}
			aside {
				grid-area: aside;
			}
			nav {
				grid-area: nav;
			}
		section {
			grid-area: section;
		}
		footer {
			grid-area: footer;
		}
